body {
  background-color: rgb(255, 255, 255);
  font-size: 1em;
}
.content-area {
  margin-top: 54px;
  background-color: #fff;
  height: 100%;
  position: static;
  margin-left: 247px;
}

.my-body {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  
}

.my-header {
  position: fixed;
  float: left;
  width: 100%;
  height: 54px;
  background-color: #16a085;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  z-index: 1;
  
}

.my-header-content {
  height: auto;
  position: relative;
  float: right;
  width: 60%;
  text-align: right;
  margin-right: 10px;
}
.my-header-content div{
  display: inline-flex;
  width: 120px;
  margin-left: 15px;
  height: 54px;
  text-align: center;

}
.my-header-content div a{
  position: absolute;
  top: 25%;
  margin: 0 auto;
  width: 120px;
  height: 27px;
  
}
.my-header-content div:hover{
  background-color:#27BA9D;
}
.my-header-content div a:hover,.my-header-content div a:visited,.my-header-content div a:active,.my-header-content div a:link{
    color: #fff;
    text-decoration: none;
}
.my-menu-btn {
  position: relative;
  float: left;
  z-index: 6;
  width: 60px;
  height: 54px;
}
.my-menu-btn a{
  color: white;
  position: absolute;
  top: 50%;
  margin-left: 5px;
  transform: translateY(-50%);
  text-decoration: none;
  text-align: center;

}
.my-menu-btn a:hover, .my-menu-btn a:visited, .my-menu-btn a:active,.my-menu-btn a:link{
  color: #fff;
  text-decoration: none;
}

.my-menu-btn:hover{
  background-color:#27BA9D;
}
.my-navbar-side {
  position: absolute;
  top: 54px;
  left: 0;
  z-index: 4;
  width: 247px;
}

.my-navbar-side-background {
  float: left;
  width: 247px;
  background-color: #16a995;
  height: 100%;
  position: fixed;
}

.my-web-brand {
  position: relative;
  float: left;
  z-index: 5;
  width: 190px;
  height: 54px;
}
.my-web-brand img{
  width: 55px;
  padding: 3px;
  border: 1px solid white;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  transform: translate(8px,-50%);
  display: inline-block;
}
.my-web-brand span{
  font-size: 1.4em;
  color: white;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 70%;
  position: absolute;
}
.my-wrapper {
  position: relative;
  float: left;
  width: 100%;
}
.my-navbar-side > ul{
    margin-bottom: 0px;
}
.my-navbar-side > ul > a{
    text-decoration: none;
}
.my-navbar-side > ul > a > li{
    width: 100%;
    color:#fff;
    text-indent: 10px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.my-navbar-side > ul > a > li:hover{
    background-color:  #27BA9D;  
}
.icon-margin-right {
  margin-right: 10px;
}

@media(max-width: 768px) {
  .my-body .content-area {
    width: 100%;
    margin-left: 0px;
  }

  .my-body .my-navbar-side-background {
    display: none;
  }

  .my-header .my-header-content {
    position: relative;
    clear: both;
    z-index: 3;
    width: 100%;
  }

  .my-header .my-menu-btn {
    float: right;
    position: relative;
    z-index: 6;
  }
  .my-header-content div{
    display: block;
    height: 40px;
    width: 100%;
    margin-left: 0px;
    text-align: left;
  }
  .my-header-content div a{
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding-left: 45%;

  }
  .my-header-content {
    height: auto;
    position: relative;
    text-align: right;
}

  .my-header .my-navbar-side {
    position: relative;
    float: left;
    clear: both;
    top: auto;
    left: auto;
    z-index: 4;
    width: 100%;
  }

.my-header-content{
    margin-right: 0px;   
}

  .my-header .my-web-brand {
    position: relative;
    z-index: 5;
  }

  .my-wrapper .my-header {
    height: auto;
  }
.my-navbar-side > ul > a > li{
    text-indent: 0px;
    padding-left: 45%;
}
.my-header-content{
    display: none;
}
.my-header{
    position: relative;   
}
  
  
}